.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    z-index: 100;
}

.left_section {
    width: 150px;
    align-items: center;
    display: flex;
}

.middle_section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 650px;
    display: flex;
    align-items: center;
}

.right_section {
    width: 150px;
    margin-right: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.hamburger_button {
    height: 35px;
    width: 35px; 
    background-color: rgb(250, 250, 250);
    border: none;
    border-radius: 50px;
    margin-left: 18px;
    margin-right: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger_menu {
    height: 24px;
}

.hamburger_button:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.youtube_logo {
    height: 20px;
}

.search_button {
    height: 39px;
    width: 60px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 0px 20px 20px 0px;
    margin-left: -1px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_icon {
    height: 25px;
}

.search_button .tooltip {
    position: absolute;
    color: white;
    background-color: rgb(95, 95, 95);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    top: 50px;
    left: -1px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search_button:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.search_button:hover .tooltip {
    opacity: 1;
}

.voice_search_button {
    height: 40px;
    width: 40px; 
    background-color: rgb(250, 250, 250);
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice_search_icon {
    height: 25px;
}

.voice_search_button:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.voice_search_button .tooltip {
    position: absolute;
    color: white;
    background-color: rgb(95, 95, 95);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    top: 50px;
    left: -50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.voice_search_button:hover .tooltip {
    opacity: 1;
}

.search_bar {
    font-size: 17px;
    padding-left: 10px;
    display: block;
    flex: 1;
    height: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 20px 0px 0px 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.upload_icon {
    height: 24px;
}

.upload_button {
    height: 40px;
    width: 40px; 
    background-color: white;
    border: none;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_button:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.upload_button .tooltip {
    position: absolute;
    color: white;
    background-color: rgb(95, 95, 95);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    top: 50px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.upload_button:hover .tooltip {
    opacity: 1;
}

.noti_container {
    position: relative;
}

.noti_icon {
    height: 24px;
}

.noti_count {
    font-size: 10px;
    font-weight: 500px;
    position: absolute;
    top: -2px;
    right: -3px;
    background-color: rgb(200,0,0);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
    border-radius: 20px;
}

.user_icon {
    height: 35px; 
    border: none;
    border-radius: 20px;
}   

.user_icon:hover {
    cursor: pointer;
}  

.noti_button {
    height: 40px;
    width: 40px; 
    background-color: white;
    border: none;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.noti_button:hover{
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.noti_button .tooltip {
    position: absolute;
    color: white;
    background-color: rgb(95, 95, 95);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 4px;
    top: 50px;
    left: -28px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.noti_button:hover .tooltip {
    opacity: 1;
}