.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 100;
    padding-top: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(235, 235, 235);
}

.sidebar_link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar_link:hover {
    background-color: rgb(240, 240, 240);
}

.sidebar_link img {
    height: 24px;
}

.sidebar_link div {
    font-weight: 500px;
    font-size: 10px;
    padding-top: 8px;
}