p {
    margin-top: 0;
    margin-bottom: 0;
}

/* everything but header */
.content-container {
    display: block;
    position: relative;
}

/* suggestion container */
.suggestion {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
}

.suggestion-tags {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

/* gets rid of scrollbar */
.suggestion-tags::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    cursor: pointer;
}

.tag {
    height: 32px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.tag:hover {
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}

.tag-text {
    height: 32px;
}

.video_title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px
}

.creator_name {
    font-size: 12px;
    width: 200px;
    margin-bottom: 5px;
    color: rgb(96, 96, 96);
}

.video_stats {
    font-size: 12px;
    width: 200px;
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
}

.video_description {
    font-family: Arial;
    font-size: 10px;
    width: 300px;
    color: rgb(0, 0, 0);
    line-height: 20px;
}

.thumbnail {
    width: 100%;
    border-radius: 15px;
}

/* videos container  */
.videos_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
    padding-top: 20px;
}

@media (max-width: 750px) {
    .videos_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .videos_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .videos_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.channel_profile {
    vertical-align: top;
}

.video_info_grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video_info {
    vertical-align: top;
}

.channel_profile_picture {
    width: 35px;
    border-radius: 50px;
}

.thumbnail_row {
    margin-bottom: 10px;
    position: relative;
}

.channel_profile_picture:hover, .creator_name:hover, .thumbnail:hover, .video_title:hover {
    cursor: pointer;
}

.video_length {
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    border: none;
    border-radius: 4px;
}

/* shorts container */
.shorts-section {
    width: 100%;
    display: block;
    position: relative;
    border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
}

.shorts-header {
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto, Arial;
    padding: 24px 24px 24px 0;
    display: flex;
    flex-direction: row;
}

.shorts-logo-filled {
    height: 20px;
    margin-right: 10px;
}

.shorts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    padding-top: 10px;
}

.shorts-preview {
    display: flex;
    flex-direction: column;
}

.shorts-row {
    max-width: 20px;
    max-height: 400px;
}

.shorts-thumbnail {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 400px;
    border-radius: 15px;
}

.shorts-row {
    margin-bottom: 10px;
    position: relative;
}

.shorts-details {
    vertical-align: top;
}

.shorts-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    width: 200px;
}